* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

main {
  padding: 42px 15px 15px 15px;
  max-width: 100vw;
  overflow: hidden;
}

main > section {
  padding: 15px;
}
.other-movie-poster {
  display: none;
}

#movie-trailer,
#movie-poster {
  max-width: 100%;
}
#movie-poster img {
  width: 100%;
}

#movie-trailer-video {
  width: 100%;
  aspect-ratio: 16/9;
}

@media (min-width: 480px) {
  main {
    display: grid;
    grid-template-areas:
      "poster title"
      "poster details"
      "synopsis synopsis"
      "trailer trailer"
      "showtimes showtimes"
      "buy-tickets buy-tickets";
    grid-template-columns: 1fr 4fr;
  }

  #movie-title {
    grid-area: title;
  }

  #movie-poster {
    grid-area: poster;
  }

  #movie-details {
    grid-area: details;
  }

  #movie-synopsis {
    grid-area: synopsis;
  }

  #movie-trailer {
    grid-area: trailer;
  }

  #showtimes {
    grid-area: showtimes;
  }

  #buy-tickets {
    grid-area: buy-tickets;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-areas:
      "poster title title title"
      "poster details details details"
      "synopsis synopsis trailer trailer"
      "showtimes showtimes buy-tickets buy-tickets";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1000px;
  }

  .container {
    display: grid;
    grid-template-areas: "poster-1 main poster-2";
  }
}

@media (min-width: 1200px) {
  .container {
    grid-template-columns: auto 1000px auto;
  }

  .other-movie-poster {
    display: block;
    width: 100%;
  }

  #poster-1 {
    grid-area: poster-1;
  }

  #poster-2 {
    grid-area: poster-2;
  }
}
